<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TuotannonSuunnittelu.Properties.Settings.ennakko_tammi2017ConnectionString"
            connectionString="Data Source=vbrekry.database.windows.net;Initial Catalog=ennakko_tammi2017;Persist Security Info=False;User ID=demouser;password=Demo2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>